@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family= Outfit: wght @400;700 & display=swap');
 
 :root {
     --cormain: hsl(217, 54%, 11%);
     --corcard: hsl(216, 50%, 16%);
     --corline: hsl(215, 32%, 27%);
     --corletra:hsl(215, 51%, 70%);
     --corhover:hsl(178, 100%, 50%);
 }
 
*/ {
     margin:  0;
     padding: 0;
 }

 body {
     background-color: var(--cormain);
     max-width: 1440px;
     min-width: 375px;
     max-height: 80vh;
 }

 main {
     background-color: var(--corcard);
     max-width: 250px;
     height: 450px;
     margin: auto;
     margin-top: 80px;
     padding: 20px;
     border-radius: 10px;
     font-family: 'Outfit', sans-serif;
     font-size: 14px;
     color: var(--corletra);
 }
  
 div.imagem {
     background-image: url("/nft-preview-card-component-main/images/image-equilibrium.jpg");
     width: 250px;
     height: 250px;
     border-radius: 8px;
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
 }

 div.overline {
     position: absolute;
     top: 0;
     left: 0;
     background-color: var(--corhover);
     width: 250px;
     height: 250px;
     opacity: 0;
     cursor: pointer;
 }

 div.overline:hover {
     opacity: 0.5;
     background-image: url("/nft-preview-card-component-main/images/icon-view.svg");
     background-position: center center;
     background-repeat: no-repeat;
 }

 div.informação {
     padding-top: 15px;
 }

 div.informação > p.texto1{
     color: white;
     font-weight: bolder;
 }

 div.informação > p.texto1:hover {
     color: var(--corhover);
     cursor: pointer;
 }

 div.moeda {
 
    padding-bottom: 20px;
 }
 span.moeda {
     padding-left: 5px;
     color: var(--corhover) ;
 }

 span.data {
     padding-left: 60px ;
     position: relative;
 }

 svg {
     padding-right: 5px;
 }

 div.usuario {
     padding-top: 5px;
     border-top: solid 1px var(--corline);
     display: flex;
     align-items: center;
 }
 
 img {
     width: 40px;
     border-radius: 50%;
     border: solid 1px white;
 }
 p.nome {
     padding-left: 15px;
 }
 
 strong {
     color: white;
 }

 strong:hover {
     color: var(--corhover);
     cursor: pointer;
 }

 footer {
     text-align: center;
     margin-top: 55px;
     background-color: white;
 }